
/*button {
    background-color: #FFA000;
    color: white;
    padding: 6px;
    font-family: "Lato", sans-serif;
    font-size: 100%;
    margin: 5px 0;
    cursor: pointer;
    display: block;
    width: 100%;
}

button:hover {
    background-color: #FFECB3;
    color:  #757575;
}*/
ion-card {
    --background: #FFA000;
    color: white;
}

ion-card-title {
    color: white;
}
